[Unit]
Description=keepalived service unit
After=skydns2.service
Requires=network.target

[Service]
Restart=on-failure
RestartSec=5
EnvironmentFile=/etc/environment
Environment="DOMAIN_NAME=cluster.duffqiu.org"
ExecStartPre=-/usr/bin/docker kill keepalived-%i
ExecStartPre=-/usr/bin/docker rm  keepalived-%i
ExecStartPre==/usr/bin/docker pull duffqiu/keepalived:latest
ExecStart=/usr/bin/docker run  \
                              --name keepalived-%i \
                              --net host \
                              --privileged \
                              duffqiu/keepalived:latest -vip=192.168.3.149
ExecStop=-/usr/bin/docker stop keepalived-%i

[X-Fleet]
X-Conflicts=keepalived@*.service
MachineMetadata=role=front
